body {
    font-family: Arial, sans-serif;
    background: #00004d;
    color: #fff;
    display: flex;
    align-items: baseline;
    height: 600vh;
    margin: 0;
    animation: Gradient 15s ease infinite;
    background-size: 200% 200%;
    background-position: center center;
    background-image: linear-gradient(45deg, #222274, #4040a7, #5353bd, #4d4de0, #4444fc);
    position: relative;
}

@keyframes Gradient {
    0% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.wrapper {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border: outset  ;
<<<<<<< Updated upstream

=======
    background-color: #268880;
>>>>>>> Stashed changes
}

#header{
    /* Style pour le bandeau d'en-tête*/
    color: white;
    padding:7px;

    margin: 0 auto;
}

#navbar {
    /* Style du bandeau de navigation */
   
}

#liste1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#liste1 li {
    float: left;
    border-right: 1px solid #bbb;
}


#liste1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#liste1 li a:hover {
    background-color: #111;
}
footer{
    /* Style du footer */
    color : gray;
    margin-top : 20px;
    background-color: #333;
}